%p#notice= notice

%p
  %b Floor level:
  = @parking_lot.floor_level
%p
  %b Slot no:
  = @parking_lot.slot_no
%p
  %b Distance:
  = @parking_lot.distance
%p
  %b Is allocated:
  = @parking_lot.is_allocated

= link_to 'Edit', edit_parking_lot_path(@parking_lot)
\|
= link_to 'Back', parking_lots_path
