= form_for @parking_detail, html: { class: "form-horizontal", role: "form" } do |f|
  -if @parking_detail.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@parking_detail.errors.count, "error")} prohibited this parking_detail from being saved:"

      %ul
        - @parking_detail.errors.full_messages.each do |msg|
          %li= msg


  .form-group
    = f.label :reg_no, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :reg_no, class: 'form-control'
  .form-group
    = f.label :color, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :color, class: 'form-control'

  .divider
    %hr.left
    OR
    %hr.right
  .form-group
    = f.label "Parking Detail", class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :pk_detail, class: 'form-control'
      %i 
        You can book parking using command.
        %br
        E.g.: park KA-01-HH-9999 White
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit "Book Now!", class: 'btn btn-primary'
