.page-header
  = link_to parking_details_path, class: 'btn btn-default  f-right MarTop25' do
    %span.glyphicon.glyphicon-list-alt
    Back
  
  %h1.f-left Booking Details
  .clear
%dl.dl-horizontal
  %dt Slot No.:
  %dd= @parking_detail.parking_lot.slot_no
  %dt Reg. No.:
  %dd= @parking_detail.reg_no
  %dt Color:
  %dd= @parking_detail.color
  %dt Is parked:
  %dd= @parking_detail.is_parked
  %dt In time:
  %dd= @parking_detail.in_time
  %dt Out time:
  %dd= @parking_detail.out_time
  %dt Ticket:
  %dd= @parking_detail.ticket
