.page-header
  = link_to parking_details_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_parking_detail_path(@parking_detail), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show parking_detail

%dl.dl-horizontal
  %dt Parking lot:
  %dd= @parking_detail.parking_lot_id
  %dt Reg no:
  %dd= @parking_detail.reg_no
  %dt Color:
  %dd= @parking_detail.color
  %dt Is parked:
  %dd= @parking_detail.is_parked
  %dt In time:
  %dd= @parking_detail.in_time
  %dt Out time:
  %dd= @parking_detail.out_time
  %dt Ticket:
  %dd= @parking_detail.ticket
